@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary-color: #181719;
    --text-color: white;
}

body {
    background-color: var(--primary-color);
    min-height: 100%;
    min-width: fit-content;
    color: var(--text-color);
}

.nav-heading {
    border: 1px solid;
    margin: 1em;
    margin-left: 3em;
    font-size: 20px;
    padding: 0.7em;
    font-family: 'Crimson Pro', serif;
    font-weight: normal;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}

.nav-menu {
    /* justify-content: center; */
    margin: 0 3vw;
}

ul {
    /* border: 1px solid; */
    list-style: none;
}

.nav-menu li {
    display: inline-block;
    margin: 0 3.5vw;
    font-size: 20px;
}

.nav-menu a:hover {
    border-bottom: 2px solid;
    font-weight: 700;
}

.nav-menu a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hamburger-menu,
.toggler {
    display: none;
}


/* container */

.container {
    /* margin-top: 3%; */
    /* border: 1px solid; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 4em 2em;
    margin-bottom: 0;
}

/* message wrapper */

.message-wrapper {
    /* border: 1px solid; */
    padding-top: 7em;
}

.message-wrapper h1 {
    font-size: 50px;
    font-family: 'Lora', serif;
    font-weight: 500;
}

.message-wrapper p {
    font-size: 26px;
    width: 410px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.message-wrapper .read-more {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.message-wrapper .read-more>.arrow {
    padding: 3%;
}


/* message image */

.message-image-wrapper {
    /* border: 1px solid; */
    max-height: 79vh;
}

.interior-image {
    padding-top: 3vh;
    /* width: 40vw; */
    max-width: 770px;
}

.twitter-post {
    width: 400px;
    /* background-color: var(--primary-color); */
    /* border: 1px solid; */
    position: relative;
    left: 18em;
    bottom: 8em;
    background: var(--primary-color);
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
    border-radius: 0.1em;
    padding: 0.3em 1.5em;
}

.twitter-post>.user {
    display: flex;
}

.twitter-post .user-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 1em;
}

.twitter-post .username {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: normal;
}

.twitter-post .user-about {
    font-size: 14px;
    margin-top: 0.5em;
    color: #828282;
}

.twitter-post .profile-picture {
    width: 4em;
    border-radius: 50%;
    padding: 0.7em;
}

.twitter-post .post-content {
    font-size: 28px;
    font-weight: bold;
    width: 300px;
    margin-top: 0.4em;
    margin-bottom: 0.3;
    padding: 0 0.3em;
    font-family: 'Lora', serif;
    /* font-weight: 700; */
    letter-spacing: 0.1rem;
    font-weight: normal;
}

/* footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

footer a {
    color: #A9A9A9;
    font-weight: bold;
}


@media (max-width:1280px) {
    .message-wrapper{
        padding-top:3em;
    }
    
    .interior-image{
        width:550px;
    }

    .twitter-post {
        width:320px;
        left:12em;
        bottom:5em;
    }

}


@media (max-width:1440px) {
    .container {
        margin-top: 1em;
    }
    .interior-image {
        width: 600px;
    }
    .twitter-post {
        left:14em;
        width:320px;
    }

    .twitter-post .post-content {
        font-size: 20px;
        width:250px
    }
    .twitter-post .username {
        font-size: 15px;
    }

    .twitter-post .profile-picture {
        width:4em;
        padding-right: 0;
    }
}

@media (max-width: 1030px) {
    .nav-menu {
        padding: 0;
        margin-right:0;
    }

    .nav-heading {
        margin-bottom:0;
    }
    .container {
        justify-content: space-between;
        /* :10%;gap */
        margin-top: 0;
        margin-left: 3em;
    }

    .message-wrapper {
        padding: 0;
        margin: 3em 0;
    }

    .message-wrapper h1 {
        font-size: 36px;
    }

    .message-wrapper p {
        font-size: 20px;
        width:300px;
    }

    .interior-image{
        width:500px;
        padding:1em;
    }

    .twitter-post{
        left:8em;
    }

    .twitter-post .username {
        margin-top:1rem;
        font-size:17px;
    }

    .twitter-post .profile-picture {
        width:3em;
        height:3em;
    }

    .twitter-post .post-content {
        margin-top: 0;
    }

    footer {
        /* font-size: 25px; */
        margin-top:4vh;
    }
}

@media (max-width: 770px){
    .nav-menu {
        margin-left: 0;
    }

    /* .nav-heading{
        margin-left: 5px;
        margin-top: 8px;
    } */

    .nav-menu a {
        font-size:15px;
    }

    .interior-image {
        padding-left:0;
    }

    .message-wrapper h1{
        font-size: 50px;
    }

    .message-wrapper p {
        font-size: 25px;
        width:15em;
    }
}

@media (max-width: 550px){
    .nav-heading{
        margin-left:1em
    }

    .nav-menu {
        margin-right:0;
    }

    .nav-menu a {
        font-size:12px;
    }
    /* footer {
        margin-top: 30vh;
    } */
}

@media (max-width: 420px) {

    .nav-heading {
        font-size: 40px;
        margin-left: 5vw;
    }

    .nav-menu a {
        font-size:60px;
    }

    .hamburger-menu,
    .toggler {
        display: block;
    }

    .toggler {
        position: absolute;
        left: 1040px;
        top: 60px;
        width: 65px;
        height: 50px;
        z-index: 3;
        opacity: 0;
    }

    .hamburger-menu {
        position: absolute;
        top: 5vh;
        left: 235vw;
        margin: 2em;
    }

    .menu-lines {
        width: 90px;
        height: 13px;
        background-color: var(--text-color);
        margin-bottom: 12px;
        border-radius: 1rem;
    }

    .toggler:checked~nav .hamburger-menu {
        margin-top: 3em;
    }

    .toggler:checked~nav .hamburger-menu .first-line {
        transform: rotate(315deg);
        /* translateY(-2px) */
        /* transform-origin: 10%; */
        /* transform-origin:0 0; */
        transition: 0.5s;
    }

    .toggler:checked~nav .hamburger-menu>.second-line {
        opacity: 0;
    }

    .toggler:checked~nav .hamburger-menu>.third-line {
        /* transform: translateY(100px); */
        transform: rotate(-135deg) translateY(35px) translateX(32px);
        /* translateY(-12px) translateX(13px) */

        transition: 0.5s;
    }

    .toggler:not(:checked)~nav .hamburger-menu>.menu-lines {
        transition: 0.5s;
    }


    .toggler:not(:checked)~nav .nav-menu {
        display: none;
        transition: 0.5s;
    }

    .toggler:checked~nav .nav-menu {
        background-color: var(--primary-color);
        position: absolute;
        top: 650px;
        left: 370px;
        text-align: center;
        z-index: 2;
        /* padding: 100vh 98vw; */
        /* padding-bottom:150vh ; */
        transition: 0.5s ease ease-in;
    }

    .toggler:checked~nav .nav-heading {
        visibility: hidden;
    }

    .toggler:checked~.main-contents,
    .toggler:checked~footer {
        display: none;
    }

    .nav-menu li {
        margin-bottom: 10vh;
        font-size: 50px;
    }


    .container {
        justify-content: flex-start;
        margin-left: 2em;
        height: 195vh;
    }

    .message-wrapper {
        padding-top: 1em;
    }

    .message-wrapper h1 {
        font-size: 100px;
    }

    .message-wrapper p {
        width: 650px;
        font-size: 40px;
    }

    .message-wrapper .read-more {
        font-size: 35px;
        margin: 1.5em 0;
    }

    .interior-image {
        min-width: 1040px;
    }

    .twitter-post {
        min-width: 815px;
        left: 6.5em;
        bottom: 10em;
    }

    .twitter-post .profile-picture {
        width: 8em;
        height:8em;
        padding: 1.5em;
        margin-top: 1em;
    }

    .twitter-post .username {
        margin-top: 1em;
        font-size: 45px;
    }

    .twitter-post .user-about {
        font-size: 35px;
    }

    .twitter-post .post-content {
        margin-top: 0.5em;
        width: 570px;
        font-size: 56px;
    }


    footer {
        margin-top: 70vh;
        padding: 1em;
        font-size:30px;
        /* position: fixed; */
        /* bottom: 4vh; */
    }
}

@media (max-width:375px) {
    .hamburger-menu {
        left: 60em;
    }

    footer {
        margin-top: 75vh;
    }
}

@media (max-width: 360px) {
    /* .menu-lines {
        position: relative;
        top: 1em;
        left: 1em;
    } */

    .hamburger-menu {
        left: 65em;
    }

    .toggler:checked~nav .nav-menu {
        left: 23em;
    }

    footer {
        /* font-size: 30px; */
        margin-top: 140vh;
    }
}

@media (max-width: 320px) {
    .container {
        width: 350vw;
    }

    .interior-image {
        /* min-width: 1100px; */
        min-width: 350vw;
    }

    .toggler {
        left: 340vw;
        margin-right: 1em;
    }

    /* 
    .hamburger-menu {
        position: absolute;
        top: 1em;
        left: 60em;
        margin: 2em;
    } */

    .hamburger-menu {
        left: 65em;
    }


    .toggler:checked~nav .hamburger-menu {
        left: 45em;
    }

    .toggler:checked~nav .nav-menu {
        left: 25em;
    }

    .twitter-post {
        min-width: 940px;
        left: 5em;
    }

    footer {
        padding-top: 15vh;
        font-size: 35px;
    }
}

@media (max-width:280px) {
    .hamburger-menu {
        top:2em;
        left: 55em;
    }

    .toggler:checked {
        left:60em
    }

    .toggler:checked~nav .nav-menu {
        left: 16em;
    }

    .twitter-post {
        min-width:800px;
    }

    footer {
        padding-top:0;
    }

}